@import "tailwindcss";

@theme {
  --font-serif: "Georgia", serif;
}

body {
  margin: 0;
  background-color: #0a0a0a;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar {
  scrollbar-width: none;
}
